body{
  background-image: url("https://imgsrc.hubblesite.org/hvi/uploads/image_file/image_attachment/32180/STScI-H-p2015a-q-2230x1671.png");
}

header{
  font-size: 3em;
  text-align: center;
}

footer{
  color:#0079f2 ;
  margin-top: 50px;
  text-align: center;
  text-shadow: 2px 2px #303030;
  font-size: 4em;
  opacity: 90%;
}
.current-turn{
  opacity: 80%;
}
.game{
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

button{
  border-radius: 6px;
  box-shadow: 2px 2px black;
  background-color: #8B008B;
  color:#d6daeb;
  text-shadow: 1px 1px black;
  opacity: 90%;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: #d6daeb;
  opacity: 40%;
}

.game-board{
  border: 2px solid #8373AF;
}

.player-one{
  background-color: #C3CEEA;
  width: 100%;
  height: 400px;
  text-align: center;
  opacity: 60%;
  box-shadow: 16px -25px #914851 ;
  font-size: 3em;
  color:red;
}

.player-two{
  opacity: 60%;
  background-color: #E1C9CF	;
  color:blue;
  box-shadow: -16px -25px #3289FF;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 3em;
}

.playerOneToken{
  background-color: red;
}

.playerTwoToken{
  background-color: blue;
  color:snow;
}

.draw{
  background-color: green;
  opacity: 80%;
}

.hidden{
  display: none;
}

.overlay{
  position:fixed;
  height: 100%;
  width: 100%;
  opacity: 100%
}
