body{
  background-image: url("https://imgsrc.hubblesite.org/hvi/uploads/image_file/image_attachment/32180/STScI-H-p2015a-q-2230x1671.png");
}

header{
  font-size: 3em;
  text-align: center;
}

footer{
  color:#F0FFFF;
  margin-top: 50px;
  text-align: center;
  text-shadow: 5px 5px #5DA4DD;
  font-size: 4em;
}

.game{
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

button{
  border-radius: 6px;
  box-shadow: 60px;
  background-color: #7464B6;
  opacity: 50%;
  color:black;
  text-shadow: 4px 4px black;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: white;
  opacity: 40%;
}

.game-board{
  border: 2px solid #8373AF;
}

.player-one{
  background-color: #C3CEEA;
  width: 100%;
  height: 400px;
  text-align: center;
  opacity: 60%;
  box-shadow: 16px -32px #914851 ;
  font-size: 3em;
  color:red;
}

.player-two{
  opacity: 60%;
  background-color: #E1C9CF	;
  color:blue;
  box-shadow: -16px -32px ;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 3em;
}

.playerOneToken{
  background-color: red;
}

.playerTwoToken{
  background-color: blue;
}

.draw{
  background-color: green;
  opacity: 80%;
}

.hidden{
  display: none;
}

.overlay{
  position:fixed;
  height: 100%;
  width: 100%;
  opacity: 100%
}
